.App {
    text-align: center;
    margin: auto;
    width: 100%;
}

.links {
    text-decoration: none;
    font-size: 140%;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 180px;
    margin: 15px 0;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}